/* projects */

#analysis-projects h3,
#excel-projects h3,
#sql-projects h3,
#vizz-projects h3 {
    color: var(--text-secondary-color) !important;
}

#analysis-projects a,
#excel-projects a,
#sql-projects a,
#vizz-projects a {
    text-decoration: none;
    color: var(--text-link-color) !important;
}

#analysis-projects .badge,
#excel-projects .badge,
#sql-projects .badge,
#vizz-projects .badge {
    background-color: var(--background-color) !important;
    color: var(--text-color) !important;
    margin: 0 1%;
}

#analysis-projects .card,
#excel-projects .card,
#sql-projects .card,
#vizz-projects .card {
    background-color: var(--secondary-color) !important;
    box-shadow: 0px 8px 56px rgb(15 80 100 / 16%);
    min-height: 400px;
    overflow: hidden;
    border-radius: 1rem;
    border: none !important;
}

#analysis-projects .card:hover,
#excel-projects .card:hover,
#sql-projects .card:hover,
#vizz-projects .card:hover {
    box-shadow: 0 0 11px rgb(15 80 100 / 20%);
    transition: transform 0.3s;
    transform: translateY(-7px);
}

#analysis-projects .card .card-head,
#excel-projects .card .card-head,
#sql-projects .card .card-head,
#vizz-projects .card .card-head {
    -o-object-fit: cover;
    object-fit: cover;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border: none !important;
}

#analysis-projects .card-footer,
#excel-projects .card-footer,
#sql-projects .card-footer,
#vizz-projects .card-footer {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#analysis-projects .card:hover .card-img-top,
#excel-projects .card:hover .card-img-top,
#sql-projects .card:hover .card-img-top,
#vizz-projects .card:hover .card-img-top {
    transform: scale(1.2);
    transition: all 0.3s ease-out;
}

#analysis-projects .card-img-top,
#excel-projects .card-img-top,
#sql-projects .card-img-top,
#vizz-projects .card-img-top {
    transition: transform 0.3s;
}

#analysis-projects .float-end .btn,
#excel-projects .float-end .btn,
#sql-projects .float-end .btn,
#vizz-projects .float-end .btn {
    transition: none;
    border-radius: .5rem !important;
    border-color: var(--primary-color) !important;
}

#analysis-projects .float-end .btn:focus,
#excel-projects .float-end .btn:focus,
#sql-projects .float-end .btn:focus,
#vizz-projects .float-end .btn:focus {
    box-shadow: none !important;
}
